<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJ9TR5T9S2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-QJ9TR5T9S2');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FK Codes | Terminal</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/term.css" />
  </head>
  <body>
    <div id="terminal">
      <a id="before"></a>
    </div>
    <div id="command" onclick="$('texter').focus();">
      <textarea
        type="text"
        id="texter"
        onkeyup="typeIt(this, event)"
        onkeydown="typeIt(this, event); 
                   moveIt(this.value.length, event)"
        onkeypress="typeIt(this, event);"
        autofocus
      ></textarea>
      <div id="liner">
        <span id="typer"></span><b class="cursor" id="cursor">█</b>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/console.js"></script>
    <script src="js/terminal/caret.js"></script>
    <script src="js/terminal/commands.js"></script>

  </body>
</html>
